<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Pitnik Social Network Toolkit</title>
    <link rel="icon" href="../images/fav.png" type="image/png" sizes="16x16">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
        rel="stylesheet">

    <link rel="stylesheet" href="../css/main.min.css">
    <link rel="stylesheet" href="../css/weather-icon.css">
    <link rel="stylesheet" href="../css/weather-icons.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/color.css">
    <link rel="stylesheet" href="../css/responsive.css">

</head>

<body>
    <div class="www-layout">
        <section>
            <div class="gap no-gap signin whitish medium-opacity register">
                <div class="bg-image" style="background-image:url(../images/resources/theme-bg.jpg)"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="big-ad-second">
                                <figure><img src="../images/logo2.png" alt=""></figure>
                                <h1>Welcome to the Pitnik</h1>
                                <p>
                                    Pitnik is a social network template that can be used to connect people. use this
                                    template for multipurpose social activities like job, dating, posting, bloging and
                                    much more. Now join & Make Cool Friends around the world !!!
                                </p>
                                <div class="barcode">
                                    <figure><img src="../images/resources/Barcode.jpg" alt=""></figure>
                                    <div class="app-download">
                                        <span>Download Mobile App and Scan QR Code to login</span>
                                        <ul class="colla-apps">
                                            <li><a title="" href="https://play.google.com/store?hl=en"><img
                                                        src="../images/android.png" alt="">android</a></li>
                                            <li><a title="" href="https://www.apple.com/lae/ios/app-store/"><img
                                                        src="../images/apple.png" alt="">iPhone</a></li>
                                            <li><a title="" href="https://www.microsoft.com/store/apps"><img
                                                        src="../images/windows.png" alt="">Windows</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="we-login-register">
                                <div class="form-title">
                                    <i class="fa fa-key"></i>Sign Up
                                    <span>Sign Up now and meet the awesome friends around the world.</span>
                                </div>
                                <form class="we-form" method="POST" action="/user/register">
                                    <input id="username" name="username" type="username" placeholder="Username" <%= infoUser.username %> ? value="<%= infoUser.username %>" : value=" " %>>
                                    <input id="email" name="email" type="email" placeholder="Email" <%= infoUser.email %> ? value="<%= infoUser.email %>" : value=" " %>>
                                    <input id="password" name="password" type="password" placeholder="Password" <%= infoUser.password %> ? value="<%= infoUser.password %>" : value=" " %>>
                                    <input id="confirmPass" name="confirmPass" type="password" placeholder="Confirm Password" <% infoUser.password %> ? value="<%= infoUser.confirmPass %>" : value=" " %>>
                                    <input id="phone" name="phone" type="text" placeholder="Phone" <%= infoUser.phone %> ? value="<%= infoUser.phone %>" : value=" " %>>
                                            <div class="_58mq _5dbb" id="birthday_wrapper">
                                                <div class="mtm mbs _2_68">Ngày sinh<a class="_58ms mlm"
                                                        id="birthday-help" href="#"
                                                        title="Nhấp chuột để biết thêm thông tin"
                                                        role="button"><i
                                                            class="img sp_7UFqTAR_cIA_1_5x sx_775b52"></i></a>
                                                </div>
                                                <div class="_5k_5"><span class="_5k_4"
                                                        data-type="selectors"
                                                        data-name="birthday_wrapper"
                                                        id="u_2_l"><span><select aria-label="Ngày"
                                                                name="birthdayDate" id="date"
                                                                title="Ngày"
                                                                class="_9407 _5dba _9hk6 _8esg">
                                                                <% let currentDate = new Date().getDate(); %>
                                                                <% for(let i = 1; i < 32; i++) { %>
                                                                    <% if(i === currentDate) { %>
                                                                        <option value="<%= i %>" selected="1">
                                                                            <%= i %>
                                                                        </option>
                                                                    <% } else { %>
                                                                        <option value="<%= i %>"">
                                                                            <%= i %>
                                                                        </option>
                                                                    <% }} %>
                                                            </select><select aria-label="Tháng"
                                                                name="birthdayMonth" id="month"
                                                                title="Tháng"
                                                                class="_9407 _5dba _9hk6 _8esg">
                                                                <% let currentMonth = new Date().getMonth() + 1; %>
                                                                <% for(let i = 1; i < 13; i++) { %>
                                                                    <% if(i === currentMonth) { %>
                                                                        <option value="<%= i %>" selected="1">
                                                                            <%= `Tháng ${i}` %>
                                                                        </option>
                                                                    <% } else { %>
                                                                        <option value="<%= i %>"">
                                                                            <%= `Tháng ${i}` %>
                                                                        </option>
                                                                    <% }} %>
                                                            </select><select aria-label="Năm"
                                                                name="birthdayYear" id="year"
                                                                title="Năm"
                                                                class="_9407 _5dba _9hk6 _8esg">
                                                                <% let currentYear = new Date().getFullYear(); %>
                                                                <% for(let i = currentYear; i > 1904; i--) { %>
                                                                    <% if(i === currentYear) { %>
                                                                        <option value="<%= i %>" selected="1">
                                                                            <%= i %>
                                                                        </option>
                                                                    <% } else { %>
                                                                        <option value="<%= i %>"">
                                                                            <%= i %>
                                                                        </option>
                                                                    <% }} %>
                                                            </select></span></span><i
                                                        class="_5dbc _5k_6 img sp_DsFT2tc46le_1_5x sx_692903"></i><i
                                                        class="_5dbd _5k_7 img sp_DsFT2tc46le_1_5x sx_ba75b4"></i>
                                                    <div class="_1pc_"></div>
                                                </div>
                                            </div>
                                            <button type="submit" data-ripple="">Register</button>
                                            <a class="forgot underline" href="#" title="">forgot password?</a>
                                            <% if(errorRegister) { %>
                                                <div class="alert alert-danger" role="alert" style="margin-top: 15px; color: red;">
                                                    <%= errorRegister %>
                                                </div>
                                            <% } else if (regSuccess) { %>
                                                <div class="alert alert-success" role="alert" style="margin-top: 15px">
                                                    Đăng kí thành công. Vui lòng chuyển sang đăng nhập!
                                                </div>
                                            <% } else { %>
                                                <div></div>
                                            <% } %>
                                </form>
                                <a data-ripple="" title="" href="#" class="with-smedia facebook"><i
                                        class="fa fa-facebook"></i></a>
                                <a data-ripple="" title="" href="#" class="with-smedia twitter"><i
                                        class="fa fa-twitter"></i></a>
                                <a data-ripple="" title="" href="#" class="with-smedia instagram"><i
                                        class="fa fa-instagram"></i></a>
                                <a data-ripple="" title="" href="#" class="with-smedia google"><i
                                        class="fa fa-google-plus"></i></a>
                                <span>already have an account? <a class="we-account underline" href="/user/login"
                                        title="">Sign in</a></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>

    <script src="js/main.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>